Activity 23
------------

MVDS (Multi-Valued Dependencies).  

Let's first load our tools:

In [4]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@None'

Load the the following table:

In [5]:
%%sql
DROP TABLE IF EXISTS courses;
CREATE TABLE courses (course TEXT, staff TEXT, student TEXT);
INSERT INTO courses VALUES ('CS2800','Pete','Alice');
INSERT INTO courses VALUES ('CS3200','Wolfgang','Bob');
INSERT INTO courses VALUES ('CS3200','Wolfgang','Charly');
INSERT INTO courses VALUES ('CS3200','Nate','Bob');
INSERT INTO courses VALUES ('CS3200','Nate','Charly');
INSERT INTO courses VALUES ('CS3200','Nate','Debbie');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Exercise 23-1

We use some appealingly simple python tools here. But let's switch back to SQL: 

1. First write a query which returns **no values (no rows) _only if_** the MVD `course` $\twoheadrightarrow$ `staff` holds.

2. Then, comment out the insert statement(s) above so that the MVD does hold (do you remember how to comment out lines in SQL from earlier activities?  It's super useful!)